/*==Reset CSS==*/
* {
  margin: 0;
  padding: 0;
}
/*==Style cơ bản cho website==*/
html{
  scroll-behavior: smooth;
}
body {
  font-family: MS Serif,New York,sans-serif;
  color: #333;
  box-sizing: border-box;
}
/*--Style slide banner--*/
.mySlides {
  display: none;
}
.mySlides img {
  vertical-align: middle;
}
/* Slideshow container */
.slideshow-container {
  /*max-width: 1000px;*/
  width: 100%;
  position: relative;
  margin: auto;
}
.button-slide{
  position: absolute;
  top: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 20px;
  text-align: center;
  color: gray;
  background-color: white;
  border: none;
}
.left{
  left: 5%;
}
.right{
  right: 5%;
}

/*==Style logo===*/
.logo{
  width: 10%;
  height: 120px;
  flex-grow: 1;
  padding: 5px;
}
.logo > a > img{ 
  width: 100% ;
  display: inline-block;
  height: 100%;
  line-height: 120px;
}
/*==Style menu==*/

/*==Style cho menu ngang tổng===*/
.menu{
  width: 100%;
  border-bottom: 5px inset #E500B2;
  position: relative;
  display: flex;
}

/*--Style menu chính--*/
.menu_chinh {
  list-style-type: none;
  text-align: center;
  margin: auto 0;
  margin-bottom: 20px;
  width: 70%;
  flex-grow: 8;
  position: relative;
}
.menu_chinh li {
  display: inline-block;
  width: 200px;
  height: 30px;
  margin-right: 7px;
  line-height: 30px;
  margin-left: -5px;
  /*box-shadow: 0px 1px 1px 0px #e500b2;*/
}
.menu_chinh li a {
  text-decoration: none;
  color: #fff;
  display: block;
  color: #3d4042;
  font-size: 1.2em;
  font-weight: bold;
  height: 100%;
}
/*===Style hover menu==*/
.menu_chinh a:hover {
  color: #F71BFF;
  display: block;
/*    border-radius: 5px;
*/    border-bottom: 1px solid #F71BFF;
}

/*==Dropdown Menu==*/
.sub-menu {
display: none;
position: absolute;
left: 0;
padding: 5px;
background-color: white;
z-index: 2;
width: auto !important;
}
.sub-menu li{
display: inline-block;
height: 100%;

}
.sub-menu li a:hover{
left: 5px;
color: #F71BFF !important;
border:none;
/*height: 100%;*/
}
.menu li:hover .sub-menu {
display: block;
left: 10px;
border: none;
color: #F71BFF !important;
}
/*==Style menu dọc==*/
.left-container{
width: 20%;
height: 100%;
float: left;
margin-left: 15px;
margin-top: 15px;
}
.menu-doc{
width: 100%;
height: auto;
}
.left-container li {
display: inline-block;
width: 96%;
}
.left-container li a {
text-decoration: none;
color: #fff;
height: 30px;
line-height: 30px;
display: block;
color: #3d4042;
font-size: 1.2em;
font-weight: bold;
height: 100%;
}
.menu-phu{
  margin-left: 15px;

}
.left-container a:hover {
color: #F71BFF;
display: block;
}
.loai_do_dung_cha{
width: 95%;
float: left;
height: auto;
/*box-shadow: 0px 1px 1px 0px #e500b2;*/
}
.loai_do_dung_cha_menu_doc{
  width: 95%;
  float: left;
box-shadow: 0px 1px 1px 0px #e500b2;
}
.loai_do_dung_cha, .loai_do_dung_cha_menu_doc a{
font-weight: bold;
}
.loai_do_dung_con a{
font-weight: normal !important;
}

.btn{
border: none;
text-align: left;
/*border-bottom: 1px solid black;*/
background: none;
font-size: 20px;
font-family: MS Serif,New York,sans-serif;
cursor: pointer;
/*margin: 10px;*/
margin-left: 5px;
/*transition: 0.8s;*/
position: relative;
overflow: hidden;
}
/*--Style tài khoản---*/
#tai_khoan{
position: relative;
top: 70px;
right: 30px;
height: 100%;
width: 120px;
z-index: 11;
font-size: 16px;
text-align: center;
line-height: 40px;
/*border: 1px solid #e929be;*/
}

#tai_khoan li {
position: relative;
display: inline-block;
width: 120px;
height: 40px;
line-height: 40px;
margin-left: 10px;
}
#tai_khoan a {
text-decoration: none;
width: 120px;
height: 30px;
display: block;
line-height: 30px;
overflow: hidden;
font-family: MS Serif,New York,sans-serif;
}
#tai_khoan a:hover {
/*background: #F1F1F1;*/
color: #e929be;
margin-left: 5px;
}
.menu_tai_khoan {
display: none;
position: absolute;
background-color: white;
z-index: 11;
}
#tai_khoan li:hover .menu_tai_khoan {
display: block;
border: 1px solid #e929be;
border-top: none;
color: #e929be;
}
.menu_tai_khoan li {
display: block;
cursor: pointer;
text-align: left;
/*margin-left: 10px !important;*/
}

/*--Style modal đăng nhập, đăng ký*/
/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
height: 100%;
width: 100%; /* Full width */
overflow: scroll; /* Enable scroll if needed */
background-color: rgba(0,0,0,0.69); /* Black w/ opacity */
}
.modal::-webkit-scrollbar {
width: 0px;
background: transparent;
}


/* Modal Content/Box */
.modal-content {
background-color: #fefefe;
margin: 20px auto; /* 5% from the top, 15% from the bottom and centered */
border: 1px solid #888;
width: 500px;
}
.error{
color: red;
}
#error_login, #error_register{
display: none;
width: 100%;
margin: 0 auto;
font-size: 16px;
color: red;
text-align: center;
}
.modal input[type=text],.modal input[type=password], .modal input[type=date], .modal input[type=email], .modal input[type=number],select {
width: 100%;
height: 30px;
line-height: 30px;
padding-left: 10px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
font-family: Montserrat,Arial, Helvetica, sans-serif;
}
.modal input[type=radio]{
height: 18px;
width: 18px;
margin: 5px;
vertical-align: middle;
}
input[type=text]:focus,input[type=radio]:focus,input[type=password]:focus, input[type=date]:focus, input[type=number]:focus, input[type=email]:focus,select:focus {
background-color: #ddd;
outline: none;
}

/* button */
.modal button {
background-color: #e500b2;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
}

button:hover {
opacity: 0.8;
}

.register {
width: auto;
padding: 10px 18px;
background-color: #f44336;
color: white;
cursor: pointer;
}
.imgcontainer {
text-align: right;
margin: 24px 0 12px 0;
position: relative;
}
.container {
padding: 16px;
}
/* The Close Button (x) */
.close {
position: absolute;
right: 25px;
top: -12px;
color: #000;
font-size: 35px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: red;
cursor: pointer;
}

/* Add Zoom Animation */
.animate {
-webkit-animation: animatezoom 0.6s;
animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
from {-webkit-transform: scale(0)} 
to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
from {transform: scale(0)} 
to {transform: scale(1)}
}
/*==End đăng nhập modal*/

/*==Style cart===*/
#cart{
position: absolute;
right: 5%;
top: 15%;
width: 50px;
height: 50px;
display: inline-block;
background: url('../image/cart.png');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
/*background-color: red;*/
}
.fa-shopping-cart{
background-color: pink;
display: inline-block;
width: 40px;
height: 40px;
}
/*--Thông báo thành công*/
.success{
transition: all 1s ease-in-out;
background: green;
position: absolute;
float: left;
left: 50%;
top: 10%;
height: 50px;
line-height: 50px;
border-radius: 10px;  
font-size: 1.5em;
color: white;
transform: translate(-50%, -50%);
}
.success {
animation: hide 0.5s linear .8s 1 forwards;
}

@keyframes hide {
to {
  opacity: 0;
}
}
/*==Style search===*/
.tim_kiem_danh_muc{
  float: right;
  width: 250px;
  margin-right: 30px;
}
.tim_kiem_danh_muc input[type=search] {
padding: 6px;
margin-top: 10px;
font-size: 16px;
border: none;
background-color: #dddddd;
border-radius: 5px 0 0 5px;
width: 100%;
height: 35px;
line-height: 35px;
display: inline-block;
}
.menu .search-container {
margin-right: 15px;
position: absolute;
top: 10%;
right: 40%;
width: 450px;
height: 35px;
line-height: 35px;
}
.menu input[type=search] {
padding: 6px;
margin-top: 10px;
font-size: 16px;
border: none;
background-color: #dddddd;
border-radius: 5px 0 0 5px;
width: 394px;
height: 35px;
line-height: 35px;


}
.menu .search-container button {
float: right;
width: 40px;
height: 35px;
padding: 6px 10px;
margin-top: 10px;
margin-right: 16px;
background: #ddd;
font-size: 16px;
border: none;
border-radius: 0 5px 5px 0;
cursor: pointer;
}
.menu .search-container button:hover {
background: #ccc;
}
/*===Footer==*/
/*==Style tổng footer===*/
.wrap{
/*width: 100%;
height: auto;
max-height: 500px;
display: flex;
align-items: stretch;
justify-content: center;*/
width: 96%;
margin: 0 auto;
border-top: 1px solid #e500b2;
margin-top: 20px;
margin-bottom: 40px;
display: flex;
flex-wrap: nowrap;
}
/*==Style từng phần===*/
.footer{
/*margin: 20px;
text-align: left;
line-height: 50px;
font-size: 20px;*/
background-color: #f9f9f9;
width: 100%;
margin: 10px;
text-align: left;
line-height: 60px;
font-size: 20px;
}

.fab{
width: 50px;
height: 50px;
}
a{
text-decoration: none;
color: #333;
}

/*--Back to top---*/
#back-to-top{
position: fixed;
width: 40px;
height: 40px;
line-height: 40px;
color: white;
font-size: 20px;
bottom: 26%;
right: 30px;
opacity: 0.9;
border-radius: 2px;
background-color: #FE1B1B;
text-align: center;
margin: 0 auto;
text-decoration: none;
z-index: 999;
cursor: pointer;
display: none;
}
/*--Style hiển thị tất cả sản phẩm*/
.grid-container {
display: grid;
grid-gap: 30px;
/*margin-left: 30px;*/
/*margin-right: 30px;*/
grid-template-columns: auto auto auto auto;
padding: 20px;
width: 72%;
float: left;
}
.grid-item {
font-size: 1.5em;
text-align: center;
max-width: 280px;
width: 100%;
/*box-shadow: 2px 1px 20px -9px rgba(0,0,0,0.38);*/
}
.grid-item img{
transition: transform .2s;
height: 300px;
width: 100%;
background-color: #ed8ab9;
display: block;
}
.grid-item img:hover{
transform: scale(0.9); 
opacity: 0.7;
}
.tieu_de_tim_kiem{
border: none;
width: 400px;
border-bottom: 1px solid black;
background: none;
padding: 10px 20px;
font-family: MS Serif,New York,sans-serif;
margin: 0 auto;
position: relative;
overflow: hidden;
text-align: center;
}

/*--Phân trang --*/
.so_trang{
  width: 100%;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.active{
min-width: 30px;
padding: 2px;
display: inline-block;
font-size: 20px;
text-decoration: none;
text-align: center;
color: blue;
border: 1px solid #dad0d9;
}
.so_trang a {
min-width: 30px;
padding: 2px;
display: inline-block;
font-size: 20px;
text-decoration: none;
text-align: center;
color: black;
border: 1px solid #dad0d9;
}
/*--Style chi tiết sản phẩm--*/
.chi_tiet_san_pham{
width: 85%;
margin: 0 auto;
margin-top: 40px;
}
.anh_san_pham{
float: left;
margin-right: 50px;
margin-left: 50px;
}
.anh_san_pham input[type=checkbox] {
display: none;
}
.anh_san_pham img {
/*margin: 100px;*/
height: 350px;
max-width: 300px;
transition: transform 0.25s ease;
cursor: zoom-in;
z-index: 22;
}

.anh_san_pham input[type=checkbox]:checked ~ label > img {
transform: scale(2);
cursor: zoom-out;
margin: 0 auto;
z-index: 22;
}
.noi_dung_san_pham{
float: left;
text-align: left;
margin: 0 auto;
}
.gia_chi_tiet{
color: red;
font-size: 1em;
display: inline-block;
width: 100%;
}
.loai_chi_tiet{
  margin-bottom: 10px;
  width: 100%;
  font-size: 18px;
  display: inline-block;
}
.dat_hang{
  background-color: #e500b2;
  color: white;
  padding: 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size: 16px;
  border-radius: 5px;
}
.mo_ta_chi_tiet{
  width: 100%;
  float: left;
  text-align: justify;
}
.mo_ta_chi_tiet img{
  margin: 0 auto;
  max-width: 90%;
}
.link_anh_san_pham{
  width: 100%;
  height: 100%;
  display: inline-block;
  cursor: pointer;
  opacity: 0;
}
.link_anh_san_pham:hover{
  background-color: gray;
  opacity: 0.2;
}
.link_anh_san_pham:hover .chi_tiet{
  opacity: 1 !important;
  z-index: 4;
  margin: 0 auto;

}
/*--Style chi tiết giỏ hàng--*/
.gio_hang_chi_tiet{
 margin-top: 40px;
 margin-bottom: 40px;
 width: 100%;
 height: auto;
}
.gio_hang{
width: 90%;
margin: 0 auto;
height: auto;
}
.bang_gio_hang{
text-align: center;
}
.tieu_de_gio_hang{
margin: 0px;
padding: 0px 10px;
width: 20%;
z-index: 1;
left: -5px;
bottom: -4px;
border-bottom: 4px solid #ab2977;
height: 32px;
background-color: #f542ad;
}
.bang_gio_hang{
text-align: center;
height: auto;
}
.tang_giam_san_pham{
border: 1px solid gray;
border-top-right-radius: 0;
border-bottom-right-radius: 0;
outline: none;
cursor: pointer;
border: none;
font-size: 20px;
font-weight: 300;
letter-spacing: 0;
align-items: center;
justify-content: center;
-webkit-transition: background-color .1s cubic-bezier(.4,0,.6,1);
transition: background-color .1s cubic-bezier(.4,0,.6,1);
border: 1px solid rgba(0,0,0,.09);
border-radius: 2px;
background: transparent;
color: rgba(0,0,0,.8);
}
/*--Style form đặt hàng --*/
.tong{

margin: 30px 10% 0 auto;
/* float: right; */
width: 50%;
max-width: 520px;
height: auto;
padding: 30px;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.tong .tieu_de h3{
color: red;
text-align: center;
margin-bottom: 25px;
}

.form_dat_hang{
display: flex;
}

.input-fields{
display: flex;
flex-direction: column;
margin-right: 4%;
}

.input-fields,
.goi_y{
width: 48%;
}

.input-fields .inputt,
.goi_y textarea{
margin: 10px 0;
background: transparent;
border: 0px;
border-bottom: 2px solid #c5ecfd;
/*flex-direction: column;*/
padding: 10px;
/*color: #c5ecfd;*/
width: 100%;
height: 50px;
line-height: 50px;
}

.goi_y textarea{
height: 165px;
}

.btn_dat_hang {
background: #39b7dd;
text-align: center;
padding: 15px;
border-radius: 5px;
color: #fff;
cursor: pointer;
text-transform: uppercase;
}
/*--Style bảng hóa đơn--*/
.tieu_de_hoa_don{
margin-bottom: 10px;
padding: 0px 10px;
width: 20%;
z-index: 1;
left: -5px;
bottom: -4px;
/*border-bottom: 1px solid #76e87f;*/
height: 32px;
background-color: #d63bb3;
}
/*.bang_hoa_don{
height: 50%;
}*/
.hoa_don_khach_hang{
  height: 45px;
  width: auto;
  max-width: 350px;
  overflow: hidden;

  /*display: inline-block;*/
  background-color: #f2f0f0;
  border: 1px solid gray;
}
.hoa_don_khach_hang td:hover{
  transform: scale(0.9); 
  opacity: 0.7;
}
.table_xem_hoa_don_chi_tiet{
  text-align: center;
}
/*--Giới thiệu about us*/
.about-section{
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #004f88 0%, #479ddc 74%);
  width: 100%;
  height: 500px;
  margin-bottom: 15px;
}

.col-lg-6{
  float: left;
  width: 45%;
  height: 100%;
  display: block;
  margin: 15px;
}
.about-bg {
  width: 100%;
  height: 400px;
  border-radius: 40px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
  0 2px 2px rgba(0,0,0,0.12), 
  0 4px 4px rgba(0,0,0,0.12), 
  0 8px 8px rgba(0,0,0,0.12),
  0 16px 16px rgba(0,0,0,0.12);
}
.section-heading h2{
  color: white;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.about-content p{
  margin-bottom: 30px;
  color: #fff;
  text-align: justify;
}

.social .fab{
  color: #fff;
  font-size: 16px;
  margin-right: 2px;
  width: 42px;
  height: 42px;
  border: 2px solid #fff;
  text-align: center;
  line-height: 40px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 50px;
}