*{
  padding: 0;
  margin: 0;
}
/*end reset*/
body {
  font-family: MS Serif,New York,sans-serif;
  box-sizing: border-box;
}

/*--Style menu---*/
.view_all_menu{
  width: 20%;
  height: auto;
  float: left;
  background: linear-gradient(45deg, #08ffb1, transparent);
}
.welcome{
  width: 270px;
  margin-left: 0;
  height: 50px;
  display: inline-block;
  line-height: 20px;
  overflow: hidden;
  text-align: center;
  background-color: #00ca89;
}
.menu{
  width: 250px;
  height: 762px;
  padding-left: 10px;
  /*background: white;*/
  background: linear-gradient(90deg, #00ffae, transparent);
}
.menu.show{
  left: 0px;
}
.menu-content{
  /*background: white;*/
  height: auto;
  width: 100%;
  list-style: none;
}
.menu-content li{
  line-height: 40px;
  text-align: left;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.menu-content li a {
  color: black;
  position: relative;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  display: block;
  width: 100%;
}
.menu-content li.active a{
  color: cyan;
  background: #ff85c2;
  border-left-color: cyan;
}
.menu-content li a:hover{
  background: #ff85c2;
  padding-left: -10px;
}
.sub-menu{
  position: static;
  display: none;
}
.first-show.show1,.second-show.show2,.third-show.show3{
  display: block;
}
.sub-menu li{
  line-height: 42px;
  border-top: none;
}
.sub-menu li a{
  font-size: 17px;
  color: black;
  padding-left: 80px;
}
.sub-menu li a:hover{
  color: white !important;
  background: #ff85c2 !important;
  width: 150px;
}
.menu-content li.active .sub-menu li a{
  color: green;
  background: blue;
  border-left-color: transparent;
}
.fas{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}
.fas.rolate{
  transform: translateY(-50%) rotate(-180deg);
}
/*--kết thúc style menu*/
/*--Style view content--*/
.admin_view{
  float: left;
  width: 78%;
  height: auto;
  margin: 0 auto;
  margin-top: 20px;
  margin-left: 20px;

}
.admin_view table, th, td{
  border:1px solid #ccc;
}
.admin_view table{
  border-collapse:collapse;
  width: 95%;
}
.admin_view td, th{
  text-align:left;
  padding:5px;
}
.admin_view tr:hover{
  background-color:#ddd;
  cursor:pointer;
}
.admin_view tr:first-child:hover{
  background: #6cf0c6 !important;
  pointer-events: none;         
}
.admin_view button {
  background-color: #0eb7f4;
  color: white;
  /*display: inline-block;*/
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;/* con trỏ chuột khi hover vào*/
  width: 200px;
  opacity: 0.9;
  font-size:16px;
  font-family: Montserrat,Arial, Helvetica, sans-serif;
  border-radius:10px;
}
.admin_view button:hover {
  opacity:1;
}
.content-table{
  width: 95%; 
  margin: 0 auto;
  background-color: #fafafa;
  text-align: left;
}

.content-table {
  border-collapse: collapse;
  margin: 0 auto;
  font-size: 0.9em;
  min-width: 100px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.first_tr{
  background-color: #6cf0c6;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}
.first_tr:hover{
  background: #6cf0c6 !important;

}
.search{
  border: none;
  width: 400px;
  border: 1px solid black;
  background: none;
  padding: 10px 20px;
  font-family: MS Serif,New York,sans-serif;
  margin: 0 auto;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  text-align: left;
}
/*==Cắt chữ phần mô tả===*/
.truncate-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*--Style form thêm sửa chung--*/
input[type=text],input[type=password], input[type=date], input[type=email], input[type=number], input[type=file],textarea,select {
  width: 60%;
  padding: 10px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: none;
  font-size: 16px;
  background: #f7f7f7;
  height: auto;
  font-family: Montserrat,Arial, Helvetica, sans-serif;
}
input[type=month]{
  width: 250px;
  padding: 10px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: none;
  font-size: 16px;
  background: #f7f7f7;
  height: auto;
  font-family: Montserrat,Arial, Helvetica, sans-serif;
}
input[type=radio]{
    height: 18px;
    width: 18px;
    margin: 5px;
    vertical-align: middle;
}
input[type=month]:focus,input[type=text]:focus,input[type=password]:focus, input[type=date]:focus, input[type=number]:focus, input[type=email]:focus, input[type=file]:focus,select:focus {
  background-color: #ddd;
  outline: none;
}
.error, .error_register{
  color: red;
}

/*---end-*/
/*--Style insert sản phẩm--*/
.custom_file_input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom_file_input::before {
  content: 'Chọn file ảnh';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom_file_input:hover::before {
  border-color: black;
}
.custom_file_input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

/*--Thông báo thành công*/
.success{
  transition: all 1s ease-in-out;
  background: green;
  position: fixed;
  float: left;
  left: 65%;
  top: 10%;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;  
  font-size: 1.5em;
  color: white;
  z-index: 11;
  transform: translate(-50%, -50%);
}
.error_log{
  transition: all 1s ease-in-out;
  background: red;
  position: absolute;
  float: left;
  left: 50%;
  top: 10%;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;  
  font-size: 1.5em;
  color: white;
  transform: translate(-50%, -50%);
}
.success, .error_log {
  animation: hide 0.5s linear .8s 1 forwards;
}

@keyframes hide {
  to {
    opacity: 0;
  }
}
/*--Phân trang --*/
.so_trang{
  width: 100%;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.active{
min-width: 30px;
padding: 2px;
display: inline-block;
font-size: 20px;
text-decoration: none;
text-align: center;
color: blue;
border: 1px solid #dad0d9;
}
.so_trang a {
min-width: 30px;
padding: 2px;
display: inline-block;
font-size: 20px;
text-decoration: none;
text-align: center;
color: black;
border: 1px solid #dad0d9;
}
/*--End --*/
/*-- Khóa khách hàng */
.khoa_khach_hang{
  float: right;
  margin-right: 30px;
  margin-top: 30px;
  text-align: center;
  border-radius: 4px;
}
.khoa_khach_hang a{
  color: white;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  margin: 0 auto;
  background-color: red;
  text-decoration: none;
  width: 200px;
  display: inline-block;
}